In [1]:
import pandas as pd
import numpy as np

In [2]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E618-2B6B

 Directory of C:\Users\Elohome\IRONHACK\Week_5\Mid_bootcamp_project\Mid_project_IRONHACK\notebooks

06/02/2023  18:46    <DIR>          .
06/02/2023  17:28    <DIR>          ..
06/02/2023  18:25    <DIR>          .ipynb_checkpoints
14/12/2022  03:11         1,372,752 creditcardmarketing.csv
06/02/2023  18:46            42,210 Solutions-Mid project.ipynb
               2 File(s)      1,414,962 bytes
               3 Dir(s)   4,643,880,960 bytes free

In [3]:
data=pd.read_excel('../data/creditcardmarketing.xlsx')
data

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance,Q4 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0,398.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0,535.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0,1494.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0,1615.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0,603.0

1. Question=drop the column `q4_balance` from the database Limit your returned results to 10.

In [4]:
data.drop(columns='Q4 Balance', inplace=True)
data

,Customer Number,Offer Accepted,Reward,Mailer Type,Income Level,# Bank Accounts Open,Overdraft Protection,Credit Rating,# Credit Cards Held,# Homes Owned,Household Size,Own Your Home,Average Balance,Q1 Balance,Q2 Balance,Q3 Balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,17996,No,Cash Back,Letter,High,1,No,Low,1,1,5,Yes,167.50,136.0,65.0,71.0
17996,17997,No,Cash Back,Letter,High,1,No,Low,3,1,3,Yes,850.50,984.0,940.0,943.0
17997,17998,No,Cash Back,Letter,High,1,No,Low,2,1,4,No,1087.25,918.0,767.0,1170.0
17998,17999,No,Cash Back,Letter,Medium,1,No,Medium,4,2,2,Yes,1022.25,626.0,983.0,865.0
17999,18000,No,Cash Back,Letter,Low,2,No,Medium,2,1,3,No,1056.00,265.0,1378.0,1978.0

2.how many rows of data you have(shape)

In [5]:
data.shape

(18000, 16)

3. Now we will try to find the unique values in some of the categorical columns:

    - What are the unique values in the column `Offer_accepted`?
    - What are the unique values in the column `Reward`?
    - What are the unique values in the column `mailer_type`?
    - What are the unique values in the column `credit_cards_held`?
    - What are the unique values in the column `household_size`?

In [6]:
data.columns

Index(['Customer Number', 'Offer Accepted', 'Reward', 'Mailer Type',
       'Income Level', '# Bank Accounts Open', 'Overdraft Protection',
       'Credit Rating', '# Credit Cards Held', '# Homes Owned',
       'Household Size', 'Own Your Home', 'Average Balance', 'Q1 Balance',
       'Q2 Balance', 'Q3 Balance'],
      dtype='object')

In [7]:
data['Offer Accepted'].unique()

array(['No', 'Yes'], dtype=object)

In [8]:
data['Reward'].unique()

array(['Air Miles', 'Cash Back', 'Points'], dtype=object)

In [9]:
data['Mailer Type'].unique()

array(['Letter', 'Postcard'], dtype=object)

In [10]:
data['# Credit Cards Held'].unique()

array([2, 1, 3, 4], dtype=int64)

In [11]:
data['Household Size'].unique()

array([4, 5, 2, 6, 3, 1, 8, 9], dtype=int64)

4. Arrange the data in a decreasing order by the `average_balance` of the house. Return only the `customer_number` of the top 10 customers with the highest `average_balances` in your data

In [12]:
average_sorted=data[['Customer Number','Average Balance']].sort_values(by='Average Balance', ascending=False)
average_sorted.head(10)

       Customer Number  Average Balance
2296              2297          3366.25
12635            12636          2948.50
8887              8888          2738.50
10576            10577          2609.50
14003            14004          2437.50
10475            10476          2430.00
2655              2656          2336.75
15259            15260          2320.50
15608            15609          2271.50
8777              8778          2073.25

5. What is the average balance of all the customers in your data?

In [13]:
data.mean()

C:\Users\Elohome\AppData\Local\Temp\ipykernel_20092\531903386.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Customer Number         9000.500000
# Bank Accounts Open       1.255778
# Credit Cards Held        1.903500
# Homes Owned              1.203444
Household Size             3.499056
Average Balance          940.515562
Q1 Balance               910.450656
Q2 Balance               999.392190
Q3 Balance              1042.033600
dtype: float64

6. In this exercise we will use  `group by` to check the properties of some of the categorical variables in our data. Note wherever `average_balance` is asked in the questions below, please take the average of the column `average_balance`:

 - What is the average balance of the customers grouped by `Income Level`? The returned result should have only two columns, income level and `Average balance` of the customers. Use an alias to change the name of the second column.
    - What is the average balance of the customers grouped by `number_of_bank_accounts_open`? The returned result should have only two columns, `number_of_bank_accounts_open` and `Average balance` of the customers. Use an alias to change the name of the second column.
    - What is the average number of credit cards held by customers for each of the credit card ratings? The returned result should have only two columns, rating and average number of credit cards held. Use an alias to change the name of the second column.
    - Is there any correlation between the columns `credit_cards_held` and `number_of_bank_accounts_open`? You can analyse this by grouping the data by one of the variables and then aggregating the results of the other column. Visually check if there is a positive correlation or negative correlation or no correlation between the variables.
    You might also have to check the number of customers in each category (ie number of credit cards held) to assess if that category is well represented in the dataset to include it in your analysis. For eg. If the category is under-represented as compared to other categories, ignore that category in this analysis

7. Your managers are only interested in the customers with the following properties:

 - Credit rating medium or high
    - Credit cards held 2 or less
    - Owns their own home
    - Household size 3 or more

    For the rest of the things, they are not too concerned. Write a simple query to find what are the options available for them? Can you filter the customers who accepted the offers here?

8. Your managers want to find out the list of customers whose average balance is less than the average balance of all the customers in the database. Write a query to show them the list of such customers. You might need to use a subquery for this problem.

9. Since this is something that the senior management is regularly interested in, create a view called `Customers__Balance_View1` of the same query.

10. What is the number of people who accepted the offer vs number of people who did not?

11. Your managers are more interested in customers with a credit rating of high or medium. What is the difference in average balances of the customers with high credit card rating and low credit card rating?

12. In the database, which all types of communication (`mailer_type`) were used and with how many customers?

13. Provide the details of the customer that is the 11th least `Q1_balance` in your database.